.post{
    display: inline-block;
    width: 320px;
   margin: 17px;
}
#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
body{
    background: #e2e1e0;
}
#logo{
	height: 200px;
	z-index: 0;
   border-bottom-width: 2px;
   border-bottom-style: solid;
   border-bottom-color: #D3D3D3;
}

#img-logo{
    max-height:200px;
    width: auto;
    height: auto;
    padding-bottom: 3px;
}
.slide-carousel{
	width: 90%;
	margin:auto;
}
#botao_sidnav{
	position: fixed;
	float: left;
	margin-left: 0px;
	margin-top: 5px;
	z-index: 0;


}
.page{
	width: 90%;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 25px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	margin:auto;
}
.filter-btn{
	display: inline;
	float:right;
	margin-right: 9px;
}
.card {
  text-align: left;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.card:hover {
  box-shadow: 0 25px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
}
#made-with{
	text-align: center;
	margin-top: 70px;
}
#post-img{
   margin-top: 20px;
}
#post-img img{
   margin: auto;
   width: 50%;
   background-color: #000;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.post-btn{
   margin: 15px;
}
#post-info{
   padding-top: 50px;
   width: 50%;
   margin: auto;

}
